[submodule "pypot/pypot"]
	path = pypot/pypot
	url = https://github.com/poppy-project/pypot.git
[submodule "poppy-humanoid/poppy-humanoid"]
	path = poppy-humanoid/poppy-humanoid
	url = https://github.com/poppy-project/poppy-humanoid.git
[submodule "poppy-ergo-jr/poppy-ergo-jr"]
	path = poppy-ergo-jr/poppy-ergo-jr
	url = https://github.com/poppy-project/poppy-ergo-jr.git
[submodule "poppy-torso/poppy-torso"]
	path = poppy-torso/poppy-torso
	url = https://github.com/poppy-project/poppy-torso.git
[submodule "poppy-creature/poppy-creature"]
	path = poppy-creature/poppy-creature
	url = https://github.com/poppy-project/poppy-creature.git
