
body, .book .book-header, .book .book-summary, .book .book-body {
  font-family: 'SofiaPro', 'Helvetica Neue', Arial, sans-serif;
  background-color: #fefefe; /* white poppy */
}

/* Colors near of "graphical chart" of Poppy Project */
.markdown-section * {
  /* black poppy */
  color: #0a0a0a;
}
.markdown-section h1 {
  color: #73bbba;
}
.markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5 {
 /* bleu foncé logo */
  color: #27506E;
}
.markdown-section a {
  color:  #326481;
}
.markdown-section a:hover {
  color:  #8a8a8a;
}


/* For better integration of https://github.com/erixtekila/gitbook-plugin-richquotes*/
/*a.plugin-anchor span {
  font-size: 15px !important;
}*/

blockquote.alert {
    padding-left: 0 !important;
    background-color: #f7f7f7;
    color: inherit !important;
    border: 1px solid #ddd !important;
    border-radius: 3px !important;
}

blockquote.alert-info {
    background-color: rgba(104, 175, 176, 0.5) !important;
    border-color: rgb(104, 175, 176) !important;
}

blockquote.alert-success {
    background-color: #f3f8ee !important;
    border-color: #77ac45 !important;
}

blockquote.alert-warning {
    background-color: rgba(239, 146, 82, 0.8) !important;
    border-color: #rgb(239, 146, 82) !important;
}

blockquote.alert-danger {
    background-color: #faeeee !important;
    color: #c33 !important;
    border-color: #c33 !important;
}

/*blockquote.alert > strong {
    width: 60px;
    height: auto;
    margin-right: 0;
    padding-top: 12px;
    font-size: 2em !important;
}

blockquote.alert > p {
    margin-left: 60px;
    margin-bottom: 15px !important;
}

blockquote.alert p a {
    text-decoration: underline !important;
}*/


/** Table of contents styling **/
.page-toc {
  float: none;
  padding: 10px !important;
  /*width: 280px;*/
  font-size: inherit;
}

.page-toc ul {
  margin-bottom: 0;
}

.page-toc ul ul {
  padding-left: 25px;
}

.page-toc ul ul li {
  list-style-type: disc;
  /*font-size: smaller;*/
  padding-top: 2px;
}

.page-toc::before {
  content: "Dans cette section";
  font-weight: normal;
  /*font-size: smaller;*/
}

/** Disable font settings plugin in the top header **/
.font-settings {
  display: none;
}


/** SUMMARY headings **/

.book-summary{
  border-right: : 1px solid;
}

.book-summary ul.summary li.header {
  font-weight: bold;
  color: #27506E;
}

.book-summary ul.summary li.active > a {
  color: #326481;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
  color: rgb(110, 109, 108);
}

.book-summary ul.summary li.chapter {
  padding-left: 10px;
  padding-top: 5px;
}

.book-summary ul.summary li.header{
  text-transform: none;
}

li.header:hover{
  text-decoration: underline;
}

li.chapter span:hover{
  text-decoration: underline;
}


.page-wrapper {
  padding-top: 10px;
}



.markdown-section blockquote {
  padding-top: 18px !important;
  padding-left: 25px !important;
}

/*.markdown-section code, .markdown-section pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}*/

pre.language-{
  padding:2em;
  border-radius: 4px;
  overflow: scroll;
}

pre{
  overflow: scroll;
}

section.normal.markdown-section p, blockquote, ul, ol {
  max-width: 750px !important;
}

nav{
  padding-left: 20px;
}


.markdown-section {
  padding:0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/** Image styling to center align **/
img {
  display: block;
  margin: auto;
}

/* Hide GitBook link (keep it white for they pagerank) */
a.gitbook-link{
  color: white;
  opacity:0;
}

/* Hide custom-link (head of SUMMARY, appear only on doc built by gitbok ci) */
a.custom-link{
  display: none !important;
}
.divider{
   display: none !important;
}
